$white: #ffffff;
$black: #000000;
$red: #e74e38;
$white-red: #f8eedc;
$blue: #4f7da3;
$grey-blue: #d8dbdd;

* {
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.down-arrow {
  cursor: pointer;
}

/**
 * Typography
 **/

a,
a:visited {
  color: $black;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  margin: 0 0 0.5em 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 9.99rem;
  }
}

/**
 * Sections
 **/

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Stat Cards
 **/

.stat-cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 2.25rem;

  .stat-card-title {
    font-weight: 700;
    font-size: 1rem;
  }

  .stat-card-stat {
    font-weight: 700;
    font-size: 3rem;
  }

  .stat-card + .stat-card {
    margin-top: 1.5rem;
  }
}

@media (min-width: 650px) {
  .stat-cards {
    flex-flow: row wrap;

    .stat-card + .stat-card {
      margin-top: 0;
    }
  }
}

/**
 * Tables
 **/

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 2px solid $black;
}

table tr {
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid $black;
  height: 2rem;
}

table tr td:first-child {
  text-align: left;
}

table th {
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: bottom;
}

table th:first-child {
  text-align: left;
}

table tbody tr td {
  vertical-align: middle;
}

@media only screen and (max-width: 400px) {
  table {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
  table {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 501px) and (max-width: 650px) {
  table {
    font-size: 0.85rem;
  }
}

/**
 * Color Scheme
 **/

.white-on-black {
  color: $white;
  background-color: $black;

  a,
  a:visited {
    color: $white;
  }
}

.red-on-white {
  color: $red;
  background-color: $white-red;

  a,
  a:visited {
    color: $red;
  }

  table tr {
    border-bottom: 1px solid $red;
  }

  table thead tr {
    border-bottom: 2px solid $red;
  }
}

.blue-on-grey {
  color: $blue;
  background-color: $grey-blue;

  a,
  a:visited {
    color: $blue;
  }
}
