@import '../node_modules/modern-normalize/modern-normalize.css';

$white: #ffffff;
$black: #000000;
$red: #e74e38;
$orange: #e78d38;
$pink: #e7388f;
$purple-pink: #e138e7;
$ugh: #853c69;
$off-white: #f8eedc;
$blue: #4f7da3;
$teal: #4fa3a3;
$dark-teal: #234747;
$purple-blue: #574fa3;
$purple-red: #884fa3;
$grey-blue: #d8dbdd;
$rotting-lime: #91a36e;
$light-green: #a9c774;
$dark-green: #1b5037;
$yellow: #fdba3a;
$yellow-brown-grey: #787c3c;
$brown: #7c5a3c;
$red-brown: #7c3c3c;

:root {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 96%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.down-arrow {
  cursor: pointer;
}

/**
 * Typography
 **/

a,
a:visited {
  color: $black;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
  line-height: 1.4;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  margin: 0 0 0.5em 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 9.99rem;
  }
}

/**
 * Sections
 **/

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Charts
 **/

#deaths-medcond-chart,
#daily-deaths-chart,
#daily-cases-chart,
#weekly-flu-deaths-chart,
#weekly-combined-deaths-chart,
#vaers-deaths-by-year {
  height: 400px;
}

#select-causes-death {
  height: 525px;
}

#select-causes-death .x.axis .tick text {
  transform: rotate(66deg);
  text-anchor: start !important;
}

#vaers-deaths-by-year .x.axis .tick text {
  transform: rotate(66deg);
  text-anchor: start !important;
}

@media (min-width: 400px) {
  #vaers-deaths-by-year .x.axis .tick text {
    transform: rotate(55deg);
  }
}

.external-title {
  margin-left: 60px;
  margin-bottom: 1rem;
}

.select-causes-death-title.external-title {
  margin-left: 71px;
}

.vaers-deaths-by-year-title.external-title {
  margin-left: 45px;
}

/**
 * Generic D3 Styles
 **/

svg {
  font-family: var(--font-family);
}

.d3-tooltip.hidden {
  display: none;
}

.d3-tooltip {
  border: 3px solid $black;
  font-family: var(--font-family);
  font-size: 14px;
  display: table;
  position: absolute;
  line-height: 1.1;
  text-align: left;
  pointer-events: none;
  white-space: nowrap;
  background: $white;
  width: auto;
}

.d3-tooltip td {
  padding: 0.5rem;
}

.chart-container,
.legend-container {
  width: 100%;
}

.label,
.axis,
.subtitle {
  font-size: 9px;
}

.label,
.subtitle,
.axis {
  font-family: var(--font-family);
}

.title {
  font-size: 10px;
}

.legend-label {
  font-size: 13px;
}

.notes {
  font-size: 13px;
}

.external-title {
  margin-top: 1.5rem;
}

/* ---- Media Queries ---- */

@media (min-width: 688px) {
  .external-title {
    margin-top: 0.5rem;
  }
}

@media (min-width: 335px) {
  .label,
  .axis,
  .subtitle {
    font-size: 10px;
  }

  .title {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .label,
  .axis,
  .subtitle {
    font-size: 13px;
  }
  .title {
    font-size: 1.61111111em;
  }
}

/**
 * Stat Cards
 **/

.stat-cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 2.25rem;

  .stat-card-title {
    font-weight: 700;
    font-size: 1rem;
  }

  .stat-card-stat {
    font-weight: 700;
    font-size: 3rem;
  }

  .stat-card + .stat-card {
    margin-top: 1.5rem;
  }
}

@media (min-width: 650px) {
  .stat-cards {
    flex-flow: row wrap;

    .stat-card {
      flex: 0 1 50%;
    }

    .stat-card.first-row {
      margin-bottom: 1.5rem;
    }

    .stat-card + .stat-card {
      margin-top: 0;
    }
  }
}

/**
 * Tables
 **/

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 2px solid $black;
}

table tr {
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid $black;
  height: 2rem;
}

table tr td:first-child {
  text-align: left;
}

table th {
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: bottom;
}

table th:first-child {
  text-align: left;
}

table tbody tr td {
  vertical-align: middle;
}

@media (max-width: 400px) {
  table {
    font-size: 0.7rem;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  table {
    font-size: 0.75rem;
  }
}

@media (min-width: 501px) and (max-width: 650px) {
  table {
    font-size: 0.85rem;
  }
}

/**
 * Color Scheme
 **/

.white-on-black {
  color: $white;
  background-color: $black;

  a,
  a:visited {
    color: $white;
  }

  .d3-tooltip.hidden {
    display: none;
  }

  .d3-tooltip {
    border: 3px solid $white;
    font-family: var(--font-family);
    font-size: 14px;
    color: $white;
    display: table;
    position: absolute;
    line-height: 1.1;
    text-align: left;
    pointer-events: none;
    white-space: nowrap;
    background: $black;
    width: auto;
  }
}

.red-on-white {
  color: $red;
  background-color: $off-white;

  a,
  a:visited {
    color: $red;
  }

  table tr {
    border-bottom: 1px solid $red;
  }

  table thead tr {
    border-bottom: 2px solid $red;
  }
}

.blue-on-grey {
  color: $blue;
  background-color: $grey-blue;

  a,
  a:visited {
    color: $blue;
  }
}

.green-on-white {
  color: $dark-green;
  background-color: $off-white;

  a,
  a:visited {
    color: $dark-green;
  }

  .d3-tooltip.hidden {
    display: none;
  }

  .d3-tooltip {
    border: 3px solid $dark-green;
    font-family: var(--font-family);
    font-size: 14px;
    color: $dark-green;
    display: table;
    position: absolute;
    line-height: 1.1;
    text-align: left;
    pointer-events: none;
    white-space: nowrap;
    background: $off-white;
    width: auto;
  }

  .gradient-path {
    stroke: $light-green;
  }
}
